{% extends "base.html" %}
{% block main_content %}

    <style>

        td {
            width: 3px;
            height: 3px;
            /*border: 0.5px solid #ff0000;*/
            /*cursor: pointer;*/
            background-color: white;
            color: #ffffff;
            font-size: 2px;
        }
    </style>


    <table style="width: 192px">
        {% for i in range(len) %}
            <tr>
            {% for j in range(len) %}
                {% if map[i][j][0] == 1 %}
                    <td style="background-color: var(--module)"></td>
                {% elif map[i][j][0] == 2 %}
                    {% if map[i][j][1] == 32 %}
                        <td style="background-color: var(--station-32)"></td>
                    {% else %}
                        <td style="background-color:  var(--station-64)"></td>
                    {% endif %}
                {% elif map[i][j][0] == 3 %}
                    {% if map[i][j][1] == 32 %}
                        <td style="background-color: var(--coverage-32)"></td>
                    {% else %}
                        <td style="background-color:  var(--coverage-64)"></td>
                    {% endif %}
                {% else %}
                    <td style="background-color: rgb({{255 - map[i][j][1]}}, 0, 0)"> {{ map[i][j][1] }}</td>
                {% endif %}

              {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

