{% extends 'base.html' %}
{% block main_content %}

<style>
    .chart-container {
        position: relative;
        height: 400px;
        margin: auto;
    }


</style>

<div class="container mt-5">


    <!-- Круговая диаграмма -->

        <div class="card-body">
            <h3 class="text-center mb-4">Название</h3>
            <div class="chart-container" >
                <canvas id="universityChart"></canvas>
            </div>
        </div>

</div>


<script>
    const universities = {
        labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        datasets: [{
            data: [40000, 33000, 7500, 45000, 8500, 35000, 21000,  15000, 18000, 20000],
            backgroundColor: generateColors(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'].length),
            borderColor: 'rgb(255, 255, 255)',
            borderWidth: 2
        }]
    };

    // Функция для генерации массива цветов
    function generateColors(num) {
        const colors = [];

        for (let i = 0; i < num; i++) {
            const alpha = (i + 1) / num; // Прозрачность от 0 до 1
            colors.push(`rgba(255, 145, 35, ${alpha})`);
        }
        return colors;
    }

    // Инициализация диаграммы
    const ctx = document.getElementById('universityChart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: universities,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            cutout: 70,
            plugins: {
                legend: {
                    position: 'right',
                    labels: {
                        color: '#fff',
                        font: {
                            size: 14
                        }
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return ` Студентов: ${context.raw.toLocaleString()}`;
                        }
                    }
                }
            },

        }
    });


</script>

{% endblock %}
