{% extends "base.html" %}
{% block main_content %}
   <div class="tablo" style="background: white">
        <p style="color: black">ГОРА</p>
        <p style="color: red">НИЗМИНОСТь</p>
        <p style="color: var(--station-32)">СТАНЦИЯ-32</p>
        <p style="color: var(--station-64)">СТАНЦИЯ-64</p>
        <p style="color: var(--module)">СТАНЦИЯ-64</p>
    </div>
    <table>
        {% for i in range(len) %}
            <tr>
            {% for j in range(len) %}
                <td style="background-color: rgb({{255 - map[i][j]}}, 0, 0)"> {{ map[i][j] }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

