{% extends "base.html" %}
{% block main_content %}
<div class="tablo" style="background: white">
        <p style="color: black">ГОРА</p>
        <p style="color: red">НИЗМИНОСТь</p>
        <p style="color: var(--station-32)">СТАНЦИЯ-32</p>
        <p style="color: var(--station-64)">СТАНЦИЯ-64</p>
        <p style="color: var(--module)">СТАНЦИЯ-64</p>
    </div>

    <div class="tablo">
        <h4 style="color: var(--text-yellow);">Станции радиуса 32</h4>
        <p>Количество станций: {{ price[0] }}</p>
        <p>Цена за 1 штуку:  {{ price[1] }}</p>
        <p>Общая цена: {{ price[0] * price[1] }}</p>
    </div>
    <div class="tablo">
        <h4 style="color: var(--text-yellow);">Станции радиуса 64</h4>
        <p>Количество станций: {{ price[2] }}</p>
        <p>Цена за 1 штуку:  {{ price[3] }}</p>
        <p>Общая цена: {{ price[2] * price[3] }}</p>
    </div>
    <div class="tablo">
        <h4 style="color: var(--text-yellow);">Все станции</h4>
        <p>Количество станций: {{ price[0] + price[2] }}}</p>
        <p>Цена за 1 штуку:  {{ price[1] + price[3] }}</p>
        <p>Общая цена: {{ price[0] * price[1] + price[2] * price[3]}}</p>
    </div>

    <table>
        {% for i in range(len) %}
            <tr>
            {% for j in range(len) %}
                {% if map[i][j][0] == 1 %}
                    <td style="background-color: var(--module)"></td>
                {% elif map[i][j][0] == 2 %}
                    {% if map[i][j][1] == 32 %}
                        <td style="color: black; background-color: var(--station-32)"> {{ map[i][j][1] }}</td>
                    {% else %}
                        <td style="color: black; background-color:  var(--station-64)"> {{ map[i][j][1] }}</td>
                    {% endif %}
                {% elif map[i][j][0] == 3 %}
                    {% if map[i][j][1] == 32 %}
                        <td style="color: black; background-color: var(--coverage-32)"> {{ map[i][j][1] }}</td>
                    {% else %}
                        <td style="color: black; background-color:  var(--coverage-64)"> {{ map[i][j][1] }}</td>
                    {% endif %}
                {% else %}
                    <td style="background-color: rgb({{255 - map[i][j][1]}}, 0, 0)"> {{ map[i][j][1] }}</td>
                {% endif %}

              {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

